@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v128/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.p-user_rates-index .l-content > .mylist {
  position: absolute;
  top: 64px;
  right: auto;
  width: 56px;
  margin: 0 0 0 -72px;
  background: rgba(var(--menu-back), 0.7);
  border-radius: 4px;
  text-align: left
}

.p-user_rates-index .l-content > .mylist a {
  position: relative;
  display: block;
  padding: 8px;
  margin: 2px 0;
  border-radius: 4px;
  color: #5e6988;
  font-size: 0;
  font-weight: normal;
  line-height: 0
}

.p-user_rates-index .l-content > .mylist a:hover {
  text-decoration: none
}

.p-user_rates-index .l-content > .mylist a::before {
  padding: 8px;
  border-radius: 50%
}

.p-user_rates-index .l-content > .mylist a:hover::before, .p-user_rates-index .l-content > .mylist a.selected::before {
  background-color: rgba(var(--popup-color), 1);
}

.p-user_rates-index .l-content > .mylist a[data-id='planned']::before {
  content: 'today'
}

.p-user_rates-index .l-content > .mylist a[data-id='watching']::before {
  content: 'play_arrow'
}

.p-user_rates-index .l-content > .mylist a[data-id='rewatching']::before {
  content: 'replay'
}

.p-user_rates-index .l-content > .mylist a[data-id='completed']::before {
  content: 'done'
}

.p-user_rates-index .l-content > .mylist a[data-id='on_hold']::before {
  content: 'schedule'
}

.p-user_rates-index .l-content > .mylist a[data-id='dropped']::before {
  content: 'delete'
}

.p-user_rates-index .l-content > .mylist a::after {
  top: 0;
  height: 20px;
  margin: auto 12px
}

.p-user_rates-index .l-content > .mylist a[data-id='planned']::after {
  content: 'Запланировано'!important
}

.p-user_rates-index .l-content > .mylist a[data-id='watching']::after {
  content: 'Смотрю'!important
}

.p-user_rates-index .l-content > .mylist a[data-id='rewatching']::after {
  content: 'Пересматриваю'!important
}

.p-user_rates-index .l-content > .mylist a[data-id='completed']::after {
  content: 'Просмотрено' !important
}

.p-user_rates-index .l-content > .mylist a[data-id='on_hold']::after {
  content: 'Отложено'!important
}

.p-user_rates-index .l-content > .mylist a[data-id='dropped']::after {
  content: 'Брошено'!important
}

.p-user_rates-index .l-content > .mylist a[data-id='watching'][href*="/manga/"]::after {
  content: 'Читаю'!important
}

.p-user_rates-index .l-content > .mylist a[data-id='rewatching'][href*="/manga/"]::after {
  content: 'Перечитываю'!important
}

.p-user_rates-index .l-content > .mylist a[data-id='completed'][href*="/manga/"]::after {
  content: 'Прочитано' !important
}

.p-user_rates-index .l-content > .mylist a span {
  position: absolute;
  top: 0;
  right: 0;
  padding: 2px 4px;
  margin: 6px 4px;
  background: #5e6988;
  border-radius: 2px;
  color: white;
  font-size: 14px;
  line-height: .8
}

.p-user_rates-index .l-content > .mylist a span::before, .p-user_rates-index .l-content > .mylist a span::after {
  display: none
}


.p-user_rates-index .l-content > .mylist a::before {
  display: block;
  flex-shrink: 0;
  width: 1em !important;
  font-family: 'Material Icons' !important;
  font-size: 24px !important;
  font-style: normal;
  font-weight: 400 !important;
  line-height: 1 !important;
  letter-spacing: normal;
  text-transform: none;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
  overflow: hidden;
  color: rgba(var(--light-color), 0.8);
}

.p-user_rates-index .l-content > .mylist a:hover::after {
  opacity: .9
}

.p-user_rates-index .l-content > .mylist a:hover::after {
  transform: translateX(40px)
}

body#user_rates_index .b-options-floated.mobile-desktop a {
  margin-left: 0.4em
}

.p-user_rates-index .l-content > .mylist a::after {
  display: block !important;
  position: absolute;
  padding: .375rem .75rem;
  margin: .25rem .75rem;
  background-color: rgba(var(--popup-color), 0.9);
  border-radius: .125rem;
  color: rgb(var(--white-color));
  font-size: .875rem;
  line-height: 1.25rem;
  white-space: nowrap;
  z-index: 100;
  pointer-events: none;
  opacity: 0;
  transition: .3s
}

.p-user_rates-index .l-content > .mylist {
  margin: 0 0 0 -71px;
  height: auto;
}

@media screen and (max-width: 1311px) {
  .p-user_rates-index .l-content > .mylist {
    width: max-content;
    position: initial;
    margin: 0 auto 8px auto;
  }
  .p-user_rates-index .l-content > .mylist a:hover::before, .p-user_rates-index .l-content > .mylist a.selected::before {
    color: rgba(var(--light-color), 1);
  }
}

@media screen and (max-width: 359px) {
  .p-user_rates-index .l-content > .mylist {
    width: calc(56px * 3);
  }
  .p-user_rates-index .b-options-floated.mobile-desktop a {
    width: auto;
  }
}
